:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather Sans;
    text-decoration: none;
    list-style-type: none;
}

.border {
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

body {
    background: var(--body-bg-color);
    overflow-x: hidden;
    max-width: 1400px;
}

header {
    width: 100%;
    height: 35px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0px 35px 10px 35px;
    flex-direction: row;
    gap: 30px;
}

/* Cards Laterais */
.cardLateral {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* Profile */
.cardLateral .profile {
    display: flex;
    width: 100%;
    height: 240px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.profile .avatar {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    background-color: var(--bg-techs);
    background: url(https://avatars.githubusercontent.com/u/38333767?v=4) no-repeat center;
    overflow: hidden;
    background-size: cover;
    border: 2px solid #004700;
}
.profile .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -25px;
    color: var(--text-color);


}
.profile .profisao {
    font-size: 12px;
    font-weight: 300;
    color: var(--text-color);
}

/* ----- Links ----- */
.cardLateral .links {
    display: flex;
    width: 100%;
    height: 260px;
    flex-direction: column;
    justify-content: space-evenly;
}
.links a {
    display: flex;
    color: var(--text-color);
    margin-left: 25px;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    align-items: center;
}
.links a img {
    margin-right: 10px;
}

/* Tecnologies */
.cardLateral .tecnologies {
    display: grid;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 160px;
}
.tecnologies h3 {
    place-self: stretch;
    margin: 0 0 15px 15px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
}

.tecnologies ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 8px;
    height: 90px;
}

.tecnologies ul li {
    display: flex;
    width: 76px;
    height: 24px;
    background-color: var(--bg-techs);
    border-radius: 30px;
    font-weight: 500;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

/* ----- My Projects area ----- */
.feedContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}

.myProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    color: var(--text-color);
}
.myProject h3 {
    font-weight: 700;
    font-size: 20px;
}
.myProject a {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

#cardContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.gitCard {
    display: flex;
    width: 300px;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    flex-shrink: 0;
}
.gitCard h4 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
}
.gitCard p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}
.gitCard .dados {
    display: grid;
    grid-template-columns: 10% 10% 65%;
    gap: 20px;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}


.gitCard .count {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.gitCard .language {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-self: flex-end;
}
.language .html {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background: #e36e00;
    border-radius: 50%;
    border: 2px solid #837E9F ;
}
.language .js {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background: #fff200;
    border-radius: 50%;
    border: 2px solid #837E9F ;
}
.language .colorLang {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background: #e36e00;
    border-radius: 50%;
    border: 2px solid #837E9F ;
}



/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
