:root {
    --body-bg-color: #2C3333;
    --text-color: #CBE4DE;
    --text-color2: #282828;
    --button: #0E8388;
    --primary-color: #2E4F4F;
    --defaut-light-color: #FFFFFF;
    --defaut-dark-color: #151515;

    font-size: 62.5%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: var(--body-bg-color);
    overflow-x: hidden;
    width: 100vw;
    height: fit-content;
    font-size: 1.6rem;
    color: var(--text-color);
}
.container{
    padding-left: 3rem;
    padding-right: 4rem;
}

.borderShadow2 {
    background: var(--body-bg-color);
    box-shadow: 0px 4px 12px rgba(27, 27, 24, 0.5);
    border-radius: 2rem;
}


/* ======= header ======= */
header {
    background-color: var(--primary-color);
    width: 100vw;
    height: 6rem;

}
header .container {
    display: flex;
    gap: 4.8rem;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav{
    display: none;
    gap: 4.8rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
}

nav ul{
    display: flex;
    gap: 4.8rem;
}
nav ul li {
    width: max-content;
    text-align: center;
    font-weight: 600;
    font-size: 2rem
}
.active {
    border-bottom: 4px solid var(--bg-techs);
}

header button{
    width: 12rem;
    height: 4rem;
    background: var(--button);
    font-weight: 500;
    font-size: 2rem;
    color: var(--defaut-light-color);
    border: none;
    border-radius: 1.5rem;
}
/* ----- Main Area ----- */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 3rem;
}

/* ----- Apresentation ----- */
.apresentation {
    width: 100%;
    height: max-content;
}
.apresentation .container {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    background: rgba(14, 131, 136, .10);
}

.apresentation .profile{
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.apresentation .profile .avatar{
    width: 150px;
    height: 150px;
    margin-bottom: 0.89rem;
    border-radius: 50%;
    background: url(https://avatars.githubusercontent.com/u/38333767?v=4) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.apresentation .profile h3 {
    font-weight: 700;
    font-size: 2.5rem;
}
.apresentation .profile h4 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}
.profile .tech-profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project h1 {
    display: none;
}
.card-container {
    display: flex;
    height: 22rem;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 40rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--body-bg-color);
}
.card h4 {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--defaut-light-color);
}
.card p {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--defaut-light-color);

}
.card .dados {
    display: grid;
    grid-template-columns: 10% 10% 65%;
    gap: 2rem;
    align-content: center;
    justify-content:space-between;
    font-size: 1.9rem;
    font-weight: 400;
    padding: .5rem 0 .5rem 0;
    color: var(--defaut-light-color);
}

.card .count i{
    font-size: 2rem;
    font-weight: 500;
}
.card .count {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.card .techs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-self: flex-end;
}
.techs .html {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #e36e00;
    border-radius: 50%;
    border: 0.2rem solid #837E9F ;
}
.techs .js {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #fff200;
    border-radius: 50%;
    border: 0.2rem solid #837E9F ;
}
.techs .cor {
    width: 12px;
    height: 12px;
    display: block;
    background: #5b554f;
    border-radius: 50%;
    border: 2px solid #837E9F ;
}

/* ----- Post Area ----- */

/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
