:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    font-size: 62.5%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather Sans;
    text-decoration: none;
    list-style-type: none;
}

.borderShadow {
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 1.6rem;
}

body {
    background: var(--body-bg-color);
    overflow-x: hidden;
    width: 100vw;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

header {
    width: 100%;
    height: 35px;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 3rem;
}

footer {
    width: 100%;
    height: 3.5rem;
}

/* Cards Laterais */
aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* Profile */
aside .profile {
    display: flex;
    width: 100%;
    height: 24rem;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.profile .avatar {
    width: 12rem;
    height: 12rem;

    border-radius: 50%;
    background-color: var(--bg-techs);
    background: url(https://avatars.githubusercontent.com/u/38333767?v=4) no-repeat center;
    overflow: hidden;
    background-size: cover;
    border: 0.2rem solid #015c01;
}
.profile .name {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: -25px;
    color: var(--text-color);


}
.profile .profisao {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
}

/* ----- Links ----- */
aside .links {
    display: flex;
    width: 100%;
    height: 26rem;
    flex-direction: column;
    justify-content: space-evenly;
}
.links a {
    display: flex;
    color: var(--text-color);
    margin-left: 2.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.6rem;
    align-items: center;
}
.links a img {
    margin-right: 1rem;
}

/* Tecnologies */
aside .tecnologies {
    display: grid;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 16rem;
}
.tecnologies h3 {
    place-self: stretch;
    margin: 0 0 1.5rem 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.tecnologies ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 9rem;
}

.tecnologies ul li {
    display: flex;
    width: 7.6rem;
    height: 2.4rem;
    background-color: var(--bg-techs);
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

/* ----- My Projects area ----- */

.myProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
    color: var(--text-color);
}
.myProject h3 {
    font-weight: 700;
    font-size: 2rem;
}
.myProject a {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

#cardContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;

}

.gitCard {
    display: flex;
    width: 30rem;
    height: 15rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    flex-shrink: 0;
}
.gitCard h4 {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
}
.gitCard p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.gitCard .dados {
    display: grid;
    grid-template-columns: 10% 10% 65%;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}


.gitCard .count {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.gitCard .language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-self: flex-end;
}
.language .html {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #e36e00;
    border-radius: 50%;
    border: 0.2rem solid #837E9F ;
}
.language .js {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #fff200;
    border-radius: 50%;
    border: 0.2rem solid #837E9F ;
}
.language .cor {
    width: 12px;
    height: 12px;
    display: block;
    background: #5b554f;
    border-radius: 50%;
    border: 2px solid #837E9F ;
}



/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
